
<ng-container cdk-scrollable>
  <div fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="space-evenly stretch"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="mat-card-content" fxFlex="80">
      <mat-tab-group>
        <mat-tab label="Teams Documentations">
          Documentations published by each team
        </mat-tab>
        <mat-tab label="Applications Documentations">
          Documentations for each application within the system
        </mat-tab>
        <mat-tab label="System Documentations">
          Documentations for each system being used in the team
        </mat-tab>
        <mat-tab label="Other">
          Any other document published within the organisation
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>

</ng-container>
