
<ng-container cdk-scrollable>
  <div fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="space-evenly stretch"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="mat-card-content" fxFlex="80">
      <mat-tab-group>
        <mat-tab label="Teams Management">
        </mat-tab>
        <mat-tab label="Applications">
        </mat-tab>
        <mat-tab label="Work Type">
        </mat-tab>
        <mat-tab label="Status">
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>

</ng-container>
