
<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="mat-card" fxFlex="45">
    <div fxLayout="column" fxLayoutAlign="center center" >

      <div class="mat-card-header" style="background-color: blue; width: 100%">
        <div fxLayout="column" fxLayoutAlign="center center" >
          <h2 style="color: white">Forgot password</h2>
        </div>
      </div>

      <form [formGroup]="forgotPasswordForm" class="example-form" (ngSubmit)="onSubmit()">

        <div fxLayout="column" fxLayoutAlign="space-between none" fxLayoutGap="2%"
        >
          <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label> Email Address </mat-label>
            <input type="text"
                   placeholder="First Name"
                   aria-label="Number"
                   matInput
                   formControlName="email"
            >
            <mat-error *ngIf="submitted && formFields.email?.errors" class="mat-form-field-invalid">
              <mat-error *ngIf="formFields.email.errors?.required">Email is required</mat-error>
            </mat-error>
          </mat-form-field>
          <button style="background-color: orange" mat-button mat-raised-button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Send email
          </button>

          <div class="mat-form-field">
            <mat-card-footer><header>Do you have want to cancel?
              <strong>
                <a  routerLink="/login" class="btn btn-link">Back to login
                </a>
              </strong>
            </header></mat-card-footer>
          </div>

          <div class="mat-form-field" fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="2%">
          </div>

        </div>

      </form>
    </div>
  </div>

</div>





