
<ng-container>
  <div fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="mat-card-content" fxFlex="30">
      <mat-card-content>

        <h2>Login</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">
          <div  fxLayout="column" fxLayoutAlign="space-between center"
          >
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Username</mat-label>
              <label>
                <input matInput type="text"
                       placeholder="Username"
                       formControlName="username"
                       [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              </label>
              <mat-error *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <mat-error *ngIf="f.username.errors.required">Username is required</mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Password</mat-label>
              <label>
                <input matInput type="password"
                       placeholder="Password"
                       formControlName="password"
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              </label>
              <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
              </mat-error>
            </mat-form-field>

          </div>

          <div class="form-group" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-checkbox formControlName="rememberPassword">Remember password</mat-checkbox>
          </div>

          <div class="form-group" fxLayout="row" fxLayoutAlign="space-between center">
            <button style="background-color: orange" mat-button mat-raised-button [disabled]="loading" color="primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"
            ></span>
              Login
            </button>

            <button mat-button mat-raised-button routerLink="/register" class="btn btn-link">Don't you have an account</button>
          </div>

          <div class="form-group" fxLayout="row" fxLayoutAlign="space-between center">
            <a routerLink="/forgotPassword" class="btn btn-link">Forgot password</a>
          </div>
        </form>

      </mat-card-content>
    </div>

  </div>

</ng-container>
