<div  fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="2%">
  <div class="mat-card" fxLayout="column" fxLayoutAlign="center center">

    <form [formGroup]="workTypeForm" class="example-form">

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Work Type </mat-label>
        <input type="text"
               placeholder="Search"
               aria-label="Number"
               matInput
               [matAutocomplete]="autoWorkType"
               formControlName="workType"
        >
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #autoWorkType="matAutocomplete">
          <mat-option *ngFor="let workType of filteredWorkType | async"
                      [value]="workType.name">
            {{workType.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Description </mat-label>
        <textarea matInput
                  aria-label="Number"
                  placeholder="Description"
                  formControlName="workTypeDescription"

        ></textarea>
      </mat-form-field>

    </form>

    <div fxLayout="raw" fxLayoutAlign="center" fxLayoutGap="2%">
      <button mat-raised-button (click)="updateWorkType()" color="primary">
        Add/Update Work Type
      </button>

      <button mat-raised-button (click)="removeWorkType()" color="warn">
        Remove Work Type
      </button>
    </div>

    <!-- <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOption"
                   (page)="pageEvent = $event"
    >
    </mat-paginator>

    <div *ngIf="pageEvent"  fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="1%">
      <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="1%">
        <div *ngFor="let workType of workTypeList"> Work Type: {{workType.workTypeState}}</div>
      </div>
    </div> -->
  </div>
</div>

