
<div class="example-container">

  <mat-toolbar color="primary" class="example-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>

        <a mat-list-item [routerLink]="'/dashboard'"> Dashboard </a>
        <a mat-list-item [routerLink]="'/teams'"> Teams </a>
        <a mat-list-item [routerLink]="'/projects'"> Projects </a>
        <a mat-list-item [routerLink]="'/infrastructure'"> Infrastructure </a>
        <a mat-list-item [routerLink]="'/architecture'"> Architecture </a>
        <a mat-list-item [routerLink]="'/admin'"> Admin </a>
        <a mat-list-item [routerLink]="'/aboutUs'"> About Us </a>
        <a mat-list-item [routerLink]="'/contactUs'"> Contact Us </a>
        <a mat-list-item (click)="sidenav.toggle()" >Close</a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
