
<div fxLayout="column" fxLayoutAlign="center center">

  <h2 mat-dialog-title> <strong>{{action}} Status </strong></h2>
  <mat-dialog-content>

    <form [formGroup]="statusTab" class="example-form" *ngIf="action != 'Delete'; else elseTemplate">

      <mat-form-field appearance="outline" class="example-full-width" *ngIf="action == 'Add'">
        <mat-label> Status </mat-label>
        <mat-select
               formControlName="status"
        >
          <mat-option *ngFor="let status of statusList" [value]="status.status">{{status.status}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Status Type </mat-label>
        <input type="text"
               placeholder="Search"
               aria-label="Number"
               matInput
               formControlName="statusType"
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Description </mat-label>
        <textarea matInput
                  aria-label="Number"
                  placeholder="Description"
                  formControlName="statusTypeDescription"
                  [value]="filteredStatusType"
        ></textarea>
      </mat-form-field>

    </form>

    <ng-template #elseTemplate>
      Are you sure you want to Delete <b>{{statusTab.controls.statusType.value}}</b>
    </ng-template>

  </mat-dialog-content>

  <mat-dialog-actions *ngIf="action != 'Delete'" fxLayout="row" fxLayoutAlign="center center">
    <div class="mat-button">
      <button style="background-color: orange" class="mat-raised-button" (click)="doAction()"> {{action}} </button>
    </div>

    <div class="mat-button">
      <button mat-button class="mat-raised-button" (click)="closeDialog()" color="warn"> Cancel</button>
    </div>
  </mat-dialog-actions>

  <mat-dialog-actions *ngIf="action == 'Delete'" fxLayout="row" fxLayoutAlign="center center">
    <div class="mat-button">
      <button style="background-color: orange" class="mat-raised-button" (click)="doAction()"> Yes </button>
    </div>

    <div class="mat-button">
      <button mat-button class="mat-raised-button" (click)="closeDialog()" color="warn"> No </button>
    </div>
  </mat-dialog-actions>

</div>
