
<div fxLayout="column" fxLayoutAlign="center center">

  <h2 mat-dialog-title> <strong>{{action}} Status </strong></h2>
  <mat-dialog-content>

    <form [formGroup]="statusTab" class="example-form" *ngIf="action != 'Delete'; else elseTemplate">

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Status </mat-label>
        <input type="text"
               placeholder="Search"
               aria-label="Number"
               matInput
               [matAutocomplete]="statusType"
               formControlName="statusType"
        >
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #statusType="matAutocomplete">
          <mat-option *ngFor="let statusType of filteredStatusType | async"
                      [value]="statusType.status">
            {{statusType.status}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Status Type </mat-label>
        <input type="text"
               placeholder="Search"
               aria-label="Number"
               matInput
               [matAutocomplete]="subStatusType"
               formControlName="subStatusType"
        >
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #subStatusType="matAutocomplete">
          <mat-option *ngFor="let subStatusType of filteredSubStatusType | async"
                      [value]="subStatusType.subStatus">
            {{subStatusType.subStatus}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Description </mat-label>
        <textarea matInput
                  aria-label="Number"
                  placeholder="Description"
                  formControlName="statusTypeDescription"
        ></textarea>
      </mat-form-field>

    </form>

    <ng-template #elseTemplate>
      Are you sure you want to Delete <b>{{statusTab.controls.statusType.value}}</b>
    </ng-template>

  </mat-dialog-content>

  <mat-dialog-actions *ngIf="action != 'Delete'" fxLayout="row" fxLayoutAlign="center center">
    <div class="mat-button">
      <button class="mat-raised-button" (click)="doAction()"> {{action}} </button>
    </div>

    <div class="mat-button">
      <button mat-button class="mat-raised-button" (click)="closeDialog()" color="warn"> Cancel</button>
    </div>
  </mat-dialog-actions>

  <mat-dialog-actions *ngIf="action == 'Delete'" fxLayout="row" fxLayoutAlign="center center">
    <div class="mat-button">
      <button class="mat-raised-button" (click)="doAction()"> Yes </button>
    </div>

    <div class="mat-button">
      <button mat-button class="mat-raised-button" (click)="closeDialog()" color="warn"> No </button>
    </div>
  </mat-dialog-actions>

</div>


