<div fxLayout="column" fxLayoutAlign="center center">
  <mat-tab-group>

    <mat-tab label="Users">
      <div class="mat-card" fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="employees" class="example-form">

          <mat-form-field class="example-full-width">
            <input type="text"
                   placeholder="Full Name"
                   aria-label="Number"
                   matInput
                   formControlName="fullName"
                   [matAutocomplete]="autoName">
            <mat-autocomplete #autoName="matAutocomplete">
              <mat-option *ngFor="let fullName of filteredFullName | async" [value]="fullName">
                {{fullName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="text"
                   placeholder="Teams"
                   aria-label="Number"
                   matInput
                   formControlName="teams"
                   [matAutocomplete]="autoTeams">
            <mat-autocomplete #autoTeams="matAutocomplete">
              <mat-option *ngFor="let teams of filteredTeams | async" [value]="teams">
                {{teams}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="text"
                   placeholder="Status"
                   aria-label="Number"
                   matInput
                   formControlName="status"
                   [matAutocomplete]="autoStatus">
            <mat-autocomplete #autoStatus="matAutocomplete" [displayWith]="displayFunction">
              <mat-option *ngFor="let status of filteredStatus | async" [value]="status">
                {{status}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </form>

        <div fxLayout="raw" fxLayoutAlign="center" fxLayoutGap="2%">
          <button mat-raised-button (click)="onSubmit()" color="primary">
            Add new Employee
          </button>

          <button mat-raised-button (click)="onSubmit()" color="warn">
            Remove Employee
          </button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Applications">
      Applications
    </mat-tab>

    <mat-tab label="Work Type">
      Work Type
    </mat-tab>

    <mat-tab label="Status">
      Status
    </mat-tab>

  </mat-tab-group>
</div>


