<div fxLayout="row" fxLayoutAlign="space-around start" >
 <div class="mat-card">
   <mat-tab-group>

     <mat-tab label="Users">
      <app-employees (sendFilterValue)="getMessage($event)"></app-employees>
     </mat-tab>

     <mat-tab label="Applications">
       <app-applications></app-applications>
     </mat-tab>

     <mat-tab label="Work Type">
       <app-work-type></app-work-type>
     </mat-tab>

     <mat-tab label="Status">
       <app-status></app-status>
     </mat-tab>

   </mat-tab-group>
 </div>

  <div class="mat-card">
    <app-data-table [filterValue]="receivedFilterValue"></app-data-table>
  </div>
</div>




