<div fxLayout="row" fxLayoutAlign="space-around start" >
 <div class="mat-card">
   <mat-tab-group>

     <mat-tab label="Users">
      <app-employees></app-employees>
     </mat-tab>

     <mat-tab label="Applications">
       <app-applications></app-applications>
     </mat-tab>

     <mat-tab label="Work Type">
       <app-work-type></app-work-type>
     </mat-tab>

     <mat-tab label="Status">
       <app-status></app-status>
     </mat-tab>

   </mat-tab-group>
 </div>

  <!-- <div class="mat-card">

   <mat-card-header>
      <h5> {{tableHeader}} </h5>
    </mat-card-header>

   <div class="mat-slider-wrapper">
     <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">
       <ng-container matColumnDef="position">
         <th mat-header-cell *matHeaderCellDef> No. </th>
         <td mat-cell *matCellDef="let element"> {{element.position}}</td>
       </ng-container>

       <ng-container matColumnDef="name">
         <th mat-header-cell *matHeaderCellDef> Name </th>
         <td mat-cell *matCellDef="let element"> {{element.name}} </td>
       </ng-container>

       <ng-container matColumnDef="team">
         <th mat-header-cell *matHeaderCellDef> Team </th>
         <td mat-cell *matCellDef="let element"> {{element.team}} </td>
       </ng-container>

       <ng-container matColumnDef="status">
         <th mat-header-cell *matHeaderCellDef> Status </th>
         <td mat-cell *matCellDef="let element"> {{element.status}} </td>
       </ng-container>

       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

     </table>
     <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
   </div>
  </div> -->
</div>




