
<ng-container>
  <div fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="space-evenly center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="2%">
     <div class="mat-headline">
       <mat-card-header>
         <h2> Register new user </h2>
       </mat-card-header>
     </div>

      <div class="mat-body">
        <mat-card-content>
          <form [formGroup]="registerForm" class="example-form" (ngSubmit)="onSubmit()">

            <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="2%">
              <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label> First Name </mat-label>
                <input type="text"
                       placeholder="First Name"
                       aria-label="Number"
                       matInput
                       formControlName="firstName"
                >
                <mat-error *ngIf="submitted && formFields.firstName?.errors" class="mat-form-field-invalid">
                  <mat-error *ngIf="formFields.firstName.errors?.required">First name is required</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label> Last Name </mat-label>
                <input type="text"
                       placeholder="Last Name"
                       aria-label="Number"
                       matInput
                       formControlName="lastName"
                >
                <mat-error *ngIf="submitted && formFields.lastName?.errors" class="mat-form-field-invalid">
                  <mat-error *ngIf="formFields.lastName.errors?.required">Last name is required</mat-error>
                </mat-error>
              </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="2%">
              <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label> Email Address </mat-label>
                <input type="text"
                       placeholder="Email Address"
                       aria-label="Number"
                       matInput
                       formControlName="email"
                >
                <mat-error *ngIf="submitted && formFields.email.errors" class="mat-form-field-invalid">
                  <mat-error *ngIf="formFields.email.errors.required">Email address is required</mat-error>
                  <mat-error *ngIf="formFields.email.errors.email">Enter a valid email</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label> Confirm Email Address </mat-label>
                <input type="text"
                       placeholder="Confirm Email Address"
                       aria-label="Number"
                       matInput
                       formControlName="confirmEmail"
                >
                <mat-error *ngIf="submitted && formFields.confirmEmail.errors" class="mat-form-field-invalid">
                  <mat-error *ngIf="formFields.confirmEmail.errors?.required">
                    Confirm email is required
                  </mat-error>
                  <mat-error *ngIf="formFields.confirmEmail.errors?.mustMatch">
                    Email must match
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="2%">
              <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label> Password </mat-label>
                <input type="password"
                       placeholder="Password"
                       aria-label="Number"
                       matInput
                       formControlName="password"
                >
                <mat-error *ngIf="submitted && formFields.password.errors" class="mat-form-field-invalid">
                  <mat-error *ngIf="formFields.password.errors.required">Password is required</mat-error>
                  <mat-error *ngIf="formFields.password.errors.minLength">Password must have at least 6 characters</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label> Confirm Password </mat-label>
                <input type="password"
                       placeholder="Password"
                       aria-label="Number"
                       matInput
                       formControlName="confirmPassword"
                >
                <mat-error *ngIf="formFields.confirmPassword.errors?.required" class="mat-form-field-invalid">
                  <mat-error *ngIf="formFields.confirmPassword.errors?.required">
                    Password is required
                  </mat-error>
                  <mat-error *ngIf="formFields.confirmPassword.errors?.mustMatch">
                    Password must match
                  </mat-error>
                </mat-error>
              </mat-form-field>

            </div>

            <div class="mat-button" fxLayout="row" fxLayoutAlign="space-between center">
              <button style="background-color: orange" mat-button mat-raised-button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
              </button>

              <button mat-button mat-raised-button routerLink="/login" class="btn btn-link" color="warn">Cancel</button>

            </div>


          </form>
        </mat-card-content>
      </div>
    </div>

  </div>

</ng-container>




