<div fxLayout="column" fxLayoutAlign="center center">
  <h2 mat-dialog-title> <strong>{{action}} Application </strong></h2>
  <mat-dialog-content>

    <form [formGroup]="applications" class="example-form"  *ngIf="action != 'Delete'; else elseTemplate">

      <div style="color: red" *ngIf="nameExist" class="alert-danger">
        <h4>
          Name already <strong>exist</strong>. Please add a new application or go to the table to
          update an already existing application.
        </h4>
      </div>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Application Name </mat-label>
        <input type="text"
               id="applicationName"
               placeholder="Search"
               aria-label="Number"
               matInput
               formControlName="applicationName"
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Description </mat-label>
        <textarea matInput
                  id="applicationDescription"
                  aria-label="Number"
                  placeholder="Description"
                  formControlName="applicationDescription"
                  [value]="filteredApplicationName | async"
        ></textarea>
      </mat-form-field>

    </form>

    <ng-template #elseTemplate>
      Are you sure you want to Delete <b>{{applications.controls.applicationName.value}}</b>
    </ng-template>

  </mat-dialog-content>

  <mat-dialog-actions *ngIf="action != 'Delete'" fxLayout="row" fxLayoutAlign="center center">
    <div class="mat-button">
      <button style="background-color: orange" class="mat-raised-button" (click)="doAction()" [disabled]="nameExist"> {{action}} </button>
    </div>

    <div class="mat-button">
      <button mat-button class="mat-raised-button" (click)="closeDialog()" color="warn"> Cancel</button>
    </div>
  </mat-dialog-actions>

  <mat-dialog-actions *ngIf="action == 'Delete'" fxLayout="row" fxLayoutAlign="center center">
    <div class="mat-button">
      <button style="background-color: orange" class="mat-raised-button" (click)="doAction()"> Yes </button>
    </div>

    <div class="mat-button">
      <button mat-button class="mat-raised-button" (click)="closeDialog()" color="warn"> No </button>
    </div>
  </mat-dialog-actions>

</div>
