<div class="mat-card" fxLayout="column" fxLayoutAlign="center center">

  <form [formGroup]="applications" class="example-form">

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label> Application Name </mat-label>
      <input type="text"
             placeholder="Search"
             aria-label="Number"
             matInput
             [matAutocomplete]="autoApplication"
             formControlName="applicationName"
      >
      <mat-icon matSuffix>search</mat-icon>
      <mat-autocomplete #autoApplication="matAutocomplete">
        <mat-option *ngFor="let application of filteredApplication | async"
                    [value]="application.applicationName">
          {{application.applicationName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label> Description </mat-label>
      <textarea matInput
                aria-label="Number"
                placeholder="Description"
                formControlName="applicationDescription"
      ></textarea>
    </mat-form-field>

  </form>

  <div fxLayout="raw" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button (click)="updateApplication()" color="primary">
      Add/Update Applications
    </button>

    <button mat-raised-button (click)="removeApplication()" color="warn">
      Remove Applications
    </button>
  </div>

  <!--<mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOption"
                 (page)="pageEvent = $event"
  >
  </mat-paginator>

   <div *ngIf="pageEvent"  fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="1%">
    <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="1%">
      <div *ngFor="let applications of applicationsList"> Application Name: {{applications.applicationName}}</div>
    </div>
  </div> -->
</div>
