<div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="2%">
  <div class="mat-card" fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="employees" class="example-form">

      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label> Full Name </mat-label>
        <input type="text"
               placeholder="Search"
               aria-label="Number"
               matInput
               formControlName="fullName"
               [matAutocomplete]="autoName">
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #autoName="matAutocomplete">
          <mat-option *ngFor="let fullName of filteredFullName | async" [value]="fullName.name">
            {{fullName.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label> Teams </mat-label>
        <input type="text"
               placeholder="Search"
               aria-label="Number"
               matInput
               formControlName="teams"
               [matAutocomplete]="autoTeams">
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #autoTeams="matAutocomplete">
          <mat-option *ngFor="let teams of filteredTeams | async" [value]="teams.team">
            {{teams.team}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Status </mat-label>
        <input type="text"
               placeholder="Search"
               aria-label="Number"
               matInput
               formControlName="status"
               [matAutocomplete]="autoStatus">
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #autoStatus="matAutocomplete">
          <mat-option *ngFor="let status of filteredStatus | async"
                      [value]="status.statusStates">
            {{status.statusStates}}
          </mat-option>

        </mat-autocomplete>
      </mat-form-field>

    </form>

    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%">
      <button mat-raised-button (click)="addNewEmployee()" color="primary">
        Add new Employee
      </button>

      <button mat-raised-button (click)="removeEmployee()" color="warn">
        Remove Employee
      </button>
    </div>
  </div>

</div>
