
<ng-container cdk-scrollable>
  <div fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="space-evenly stretch"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="mat-card-content" fxFlex="80">
      <mat-tab-group>
        <mat-tab label="Allocated Tasks">
          <app-allocated-tasks></app-allocated-tasks>
        </mat-tab>
        <mat-tab label="Task Update">
          <app-tasks-update></app-tasks-update>
        </mat-tab>
        <mat-tab label="Task Allocation">
          <app-task-allocation></app-task-allocation>
        </mat-tab>
        <mat-tab label="Sprint">
          Display weekly sprints
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>

</ng-container>
