
<div class="mat-card">

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header matTooltip="Click to view the status types"
                                  aria-label="Button that displays a tooltip when focused or hovered over">
        <mat-panel-title>
          State of emergency
        </mat-panel-title>

        <mat-panel-description>
          Describes weather a project is approved or not
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container class="example-container mat-elevation-z8">

        <form [formGroup]="emergencyState">

          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="mat-button">
              <button mat-raised-button (click)="openDialog('Add', {})" mat-flat-button>
                Add new
              </button>
            </div >

            <div fxFlex="90%">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label> Table Filter</mat-label>
                <input type="text"
                       aria-label="Number"
                       placeholder="Type to Search"
                       matInput
                       formControlName="emergency"
                >
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
          </div>

        </form>

        <table mat-table class="full-width-table" [dataSource]="stateOfEmergency"
               matSort aria-label="Elements">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let row">{{row.subId}}</td>
          </ng-container>


          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status Type</th>
            <td mat-cell *matCellDef="let row">{{row.subStatus}}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let row">{{row.description}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <a (click)="openDialog('Update',element)"> <mat-icon>edit</mat-icon> </a>
              <a (click)="openDialog('Delete',element)"> <mat-icon>delete</mat-icon> </a>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedSubColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedSubColumns;"></tr>

        </table>
      </ng-container>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header matTooltip="Click to view the status types"
                                  aria-label="Button that displays a tooltip when focused or hovered over">
        <mat-panel-title>
          Approval State
        </mat-panel-title>
        <mat-panel-description>
          Describes weather a project is approved or not
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container>

        <form [formGroup]="approvalStateForm">

          <div  fxLayout="row" fxLayoutAlign="space-between center">
            <div class="mat-button">
              <button mat-raised-button (click)="openDialog('Add', {})" mat-flat-button>
                Add new
              </button>
            </div >

            <div class="example-form" fxFlex="90%">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label> Table Filter</mat-label>
                <input type="text"
                       aria-label="Number"
                       placeholder="Type to Search"
                       matInput
                       formControlName="approval"
                >
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
          </div>

        </form>

        <table mat-table class="full-width-table" [dataSource]="approvalState"
               matSort aria-label="Elements">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let row">{{row.subId}}</td>
          </ng-container>


          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status Type</th>
            <td mat-cell *matCellDef="let row">{{row.subStatus}}</td>
          </ng-container>


          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let row">{{row.description}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <a (click)="openDialog('Update',element)"> <mat-icon>edit</mat-icon> </a>
              <a (click)="openDialog('Delete',element)"> <mat-icon>delete</mat-icon> </a>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedSubColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedSubColumns;"></tr>

        </table>
      </ng-container>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header matTooltip="Click to view the status types"
                                  aria-label="Button that displays a tooltip when focused or hovered over">
        <mat-panel-title>
          Project State
        </mat-panel-title>
        <mat-panel-description>
          Describes the state of the project
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container>

        <form [formGroup]="projectState">

          <div  fxLayout="row" fxLayoutAlign="space-between center">
            <div class="mat-button">
              <button mat-raised-button (click)="openDialog('Add', {})" mat-flat-button>
                Add new
              </button>
            </div >

            <div class="example-form" fxFlex="90%">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label> Table Filter</mat-label>
                <input type="text"
                       aria-label="Number"
                       placeholder="Type to Search"
                       matInput
                       formControlName="project"
                >
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
          </div>

        </form>

        <table mat-table class="full-width-table" [dataSource]="projectList"
               matSort aria-label="Elements">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let row">{{row.subId}}</td>
          </ng-container>


          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status Type</th>
            <td mat-cell *matCellDef="let row">{{row.subStatus}}</td>
          </ng-container>


          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let row">{{row.description}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <a (click)="openDialog('Update',element)"> <mat-icon>edit</mat-icon> </a>
              <a (click)="openDialog('Delete',element)"> <mat-icon>delete</mat-icon> </a>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedSubColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedSubColumns;"></tr>

        </table>
      </ng-container>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

</div>
