
<div class="mat-card">
  <form [formGroup]="dataTableFilter">

    <div fxLayout
         fxLayout.xs="row"
         fxLayoutAlign="space-between stretch"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
      <div class="mat-button">
        <button mat-raised-button (click)="openDialog('Add', {})" mat-flat-button>
          Add new
        </button>
      </div >

      <div class="example-form" fxFlex="90%">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label> Table Filter</mat-label>
          <input type="text"
                 aria-label="Number"
                 placeholder="Type to Search"
                 matInput
                 formControlName="tableFilterInput"
          >
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>

  </form>

  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>

    <ng-container matColumnDef="statusType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row"> {{row.index}}
       <div>
         <table mat-table class="full-width-table" [dataSource]="emergencyList"  matSort aria-label="Elements">
           <!-- Id Column -->
           <ng-container matColumnDef="id">
             <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
             <td mat-cell *matCellDef="let row">{{row.subId}}</td>
           </ng-container>

           <!-- Name Column -->
           <ng-container matColumnDef="status">
             <th mat-header-cell *matHeaderCellDef mat-sort-header>Status Type</th>
             <td mat-cell *matCellDef="let row">{{row.subStatus}}</td>
           </ng-container>

           <!-- Name Column -->
           <ng-container matColumnDef="description">
             <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
             <td mat-cell *matCellDef="let row">{{row.description}}</td>
           </ng-container>

           <!-- Action Column -->
           <ng-container matColumnDef="action">
             <th mat-header-cell *matHeaderCellDef> Action </th>
             <td mat-cell *matCellDef="let element" class="action-link">
               <a (click)="openDialog('Update',element)">Edit</a> |
               <a (click)="openDialog('Delete',element)">Delete</a>
             </td>
           </ng-container>


           <tr mat-header-row *matHeaderRowDef="displayedSubColumns"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedSubColumns;"></tr>

         </table>
       </div>

      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <a (click)="openDialog('Update',element)">Edit</a> |
        <a (click)="openDialog('Delete',element)">Delete</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="1"
      [pageSizeOptions]="[1, 3, 10, 20, 100]">
  </mat-paginator>
</div>
